body {
    background-color: aquamarine;
    text-align: center;
}
div.form-out {
    background-color: whitesmoke;
    width: 80%;
    padding: 20px;
    border-radius: 7px;
    margin: auto;
}
div.label {
    display: inline-block;
    width: 40%;
    text-align: right;
    margin-top: 10px;
}
div.rightF {
    display: inline-block;
    width: 50%;
    text-align: left;

}
.inputF {
    padding: 5px;
    margin: 10px;
    border-radius: 2px;
    width: 80%;
}
.dropdown {
    padding: 5px;
    margin: 10px;
    border-radius: 2px;
}